/**
 * CONTENTS
 *
 * GENERAL
 * Variables............Sass variables.
 * Mixins...............Useful mixins.
 * Global...............Globally-available variables and config.
 * Wrappers.............Wrapping and constraining elements.
 *
 * MISC
 * Arrow................Arrow styles.
 * Button...............Button styles.
 * Parallax.............Parallax styles.
 *
 * HEADER...............Header styles.
 * Top..................Top styles.
 * Menu.................Menu styles.
 * Logo.................Logo styles.
 * Navigation...........Navigation styles.
 *
 * HOME.................Home section styles.
 *
 * ABOUT US.............About Us section styles.
 *
 * MENU.................Menu section styles.
 *
 * OPENING HOURS........Opening Hours section styles.
 *
 * STAFF................Staff section styles.
 *
 * RESERVATION..........Reservation section styles.
 *
 * REVIEWS..............Reviews section styles.
 *
 * SUBSCRIBE............Subscribe section styles.
 *
 * MEDIA QUERIES........Media query styles.
 */



/*----------------------------------------*\
	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
\*-----------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*------------------------------------*\
	GENERAL
\*------------------------------------*/

@font-face {
	font-family: wildYouth;
	src: url("http://www.jamesarc.com/work/steakville/assets/font/WildYouth-Regular.otf");
}

$cursive-font-stack: wildYouth, "Brush Script MT", cursive;
$serif-font-stack: Average, "Times New Roman", Times, serif;
$sans-serif-font-stack: Montserrat, Arial, Helvetica, sans-serif;

$black: #000;
$white: #fff;
$silver-chalice: #afafaf;
$masala: #41403f;
$harvest-gold: #e4bb7a;
$sidecar: #f2ddbd;

@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

html,
body {
	height: 100%;
}

body {
	font-family: $serif-font-stack;
	font-size: 20px;
	font-weight: 400;
	color: $white;
}

h2 {
	font-family: $sans-serif-font-stack;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: .12em;
	text-transform: uppercase;
}

h3 {
	font-family: $cursive-font-stack;
	font-size: 45px;
	font-weight: 400;
	color: $harvest-gold;
}

a:link,
a:hover {
	text-decoration: none;
}

input { border-radius: 0; }

::-webkit-scrollbar {
	width: 7px;
	background-color: $black;
}

::-webkit-scrollbar-thumb{ background-color: $harvest-gold; }

.container-fluid {
	padding-right: 15%;
	padding-left: 15%;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
}



/*------------------------------------*\
	MISC
\*------------------------------------*/

.arrow {
	width: 70px;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/arrow.png") no-repeat center;
	background-size: cover;
}

.button {
	position: relative;
	display: inline-block;
	width: 172px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
	text-align: center;
	font-family: $sans-serif-font-stack;
	font-size: 15px;
	text-transform: uppercase;
	background-color: $harvest-gold;
}

.button,
.button:link,
.button:hover,
.button:visited {
	color: $black;
}

.button--shadow::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	transition: box-shadow .3s ease-out;
}

.button:hover.button--shadow::after { box-shadow: 3px 5px 15px rgba(228,187,122,.25); }

body .parallax { background-attachment: fixed; }



/*------------------------------------*\
	HEADER
\*------------------------------------*/

.header {
	position: relative;
	z-index: 2000; 
}

.top {
	width: 100%;
	height: 29px;
	padding-top: 7px;
	font-size: 13px;
	background-color: $harvest-gold;
}

.top__link { display: inline-block; }

.top__link,
.top__link:link,
.top__link:hover,
.top__link:visited {
	color: $black;
}

.top__marker {
	display: inline-block;
	width: 9px;
	height: 13px;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-header.png") 0 0;
}

.top__address { margin-left: calc(9px - 4px); }

.social__header-group { float: right; }

.social__header {
	display: inline-block;
	width: 13px;
	height: 13px;
}

.social__header:nth-child(n+2) { margin-left: calc(18px - 4px); }

.social__header--facebook { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-header.png") -9px 0; }

.social__header--instagram { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-header.png") -22px 0; }

.social__header--twitter { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-header.png") -35px 0; }

.top__link:hover,
.social__header:hover {
	opacity: .7;
}

.header__menu {
	position: absolute;
	top: 29px;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.4);
}

.header__menu .wrapper {
	position: relative;
	height: 100%;
}

.logo {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	width: 44px;
	height: 39px;
}

.logo img { width: 100%; }

.nav {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
	float: right;
	font-family: $sans-serif-font-stack;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

.nav__item { display: inline-block; }

.nav__item:nth-child(n+2) { margin-left: calc(40px - 4px); }

.nav__link {
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
	color: $white;
}

.nav__link:hover { color: $sidecar; }



/*------------------------------------*\
	HOME
\*------------------------------------*/

.home {
	position: relative;
	width: 100%;
	height: calc(100vh - 29px);
	min-height: 480px;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/home-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $black;
	z-index: 1000;
}

.home .wrapper {
	position: relative;
	height: 100%;
}

.home__wrapper {
	position: absolute;
	top: calc(50% + (80px / 2));
	left: 50%;
	@include transform(translate(-50%, -50%));
	text-align: center;
}

.home h3 { font-size: 50px; }

.home h2 {
	font-family: $serif-font-stack;
	font-size: 3.8em;
	font-weight: 400;
	letter-spacing: normal;
	text-transform: none;
	color: $white;
	white-space: nowrap;
}

.home span {
	font-family: $sans-serif-font-stack;
	font-size: .8em;
	line-height: 1.2;
	color: $white;
}

.arrow--home,
.button--home {
	margin-top: 43px;
}

.scroll-down {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
	bottom: 50px;
	display: block;
	padding: 5px;
}

@include keyframes (anim--scroll-down) {
	0% { @include transform(translateY(-7px)); opacity: 0; }
	50% { opacity: 1; }
	100% { @include transform(translateY(7px)); opacity: 0; }
}

.anim--scroll-down {
	-webkit-animation: anim--scroll-down 1.5s ease-in-out infinite;
	animation: anim--scroll-down 1.5s ease-in-out infinite;
}



/*------------------------------------*\
	ABOUT US
\*------------------------------------*/

.about {
	position: relative;
	width: 100%;
	padding-top: 90px;
	padding-bottom: 100px;
	color: $black;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/about-bg.jpg") no-repeat center;
	background-size: cover;
	background-position: center top;
	background-color: $white;
	z-index: 1000;
}

.about .wrapper { position: relative; }

.about__image {
	position: relative;
	width: 22.5%;
	z-index: 1002;
}

.about img:nth-of-type(n+2) { margin-left: calc((2 * 15px) - 4px); }

.about__box {
	position: absolute;
	top: 50%;
	right: 24.5%;
	@include transform(translateY(-50%));
	width: 28.5%;
	height: 90%;
	border: 1px solid $harvest-gold;
	z-index: 1001;
}

.about__wrapper {
	position: absolute;
	top: 50%;
	right: 15%;
	@include transform(translateY(-50%));
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 38%;
	height: 80%;
	padding: 30px 60px 30px;
	background-color: $white;
	z-index: 1003;
}

.about h2 { margin-top: 10px; }

.about p {
	margin-top: 30px;
	font-size: 15px;
	line-height: 1.625;
}



/*------------------------------------*\
	MENU
\*------------------------------------*/

.menu {
	width: 100%;
	padding-top: 85px;
	padding-bottom: calc(95px - 35px);
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/menu-bg.jpg") no-repeat center;
	background-size: cover;
	background-position: center top;
	background-color: $black;
}

.menu h2 { margin-top: 10px; }

.menu p {
	margin-top: 50px;
	margin-right: 22.5%;
	margin-left: 22.5%;
	font-size: 15px;
	line-height: 1.6;
}

.menu__item-group {
	text-align: left;
	margin-top: 80px;
}

.menu__item {
	position: relative;
	margin-bottom: 35px;
}

.menu__image,
.menu__caption {
	display: inline-block;
}

.menu__image {
	width: 70px;
	height: 70px;
}

.menu__caption {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	width: calc(100% - 70px);
	padding-right: calc(.16 * (100% - 70px) + 20px);
	padding-left: calc(30px - 4px);
}

.menu__name,
.menu__desc {
	display: block;
}

.menu__name,
.menu__price {
	font-family: $sans-serif-font-stack;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.menu__desc {
	margin-top: 10px;
	font-size: 15px;
	color: $harvest-gold;
}

.menu__price {
	position: absolute;
	top: 0;
	left: calc(83.33% );
}



/*------------------------------------*\
	OPENING HOURS
\*------------------------------------*/

.opening {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 100px;
	color: $black;
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/opening-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $white;
}

.opening .container-fluid {
	padding-right: 20%;
	padding-left: 20%;
}

.opening h2 { margin-top: 10px; }

.opening__wrapper {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
	background-color: $white;
}

.opening__image {
	width: 65%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.opening__hours {
	display: -webkit-inline-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100% - 65% - 20px);
	padding: 30px;
	border: 1px solid $black;
	margin: 10px;
	text-align: center;
}

.opening__hours span,
.opening__hours p {
	font-size: 15px;
}

.opening__hours span {
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.625;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.opening__hours span:nth-of-type(n+2) {
	display: inline-block;
	margin-top: 40px;
}

.opening__hours p { line-height: 1.5625; }



/*------------------------------------*\
	STAFF
\*------------------------------------*/

.staff {
	width: 100%;
	padding-top: 85px;
	padding-bottom: calc(90px - 30px);
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/staff-bg.jpg") no-repeat center;
	background-size: cover;
	background-position: center bottom;
	background-color: $black;
}

.staff h2 { margin-top: 10px; }

.staff__person-group { margin-top: 90px; }

.staff__person { margin-bottom: 30px; }

.staff__image {
	display: inline-block;
	width: 100%;
	max-width: 270px;
}

.social__staff-group,
.staff__desc {
	margin-top: 30px;
}

.social__staff {
	display: inline-block;
	width: 14px;
	height: 14px;
}

.social__staff:nth-child(n+2) { margin-left: calc(18px - 4px); }

.social__staff--facebook { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-staff.png") 0px 0; }

.social__staff--linkedin { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-staff.png") -14px 0; }

.social__staff--pinterest { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-staff.png") -28px 0; }

.social__staff:hover { opacity: .7; }

.staff__name,
.staff_desc {
	display: block;
}

.staff__name {
	margin-top: 50px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: .12em;
	text-transform: uppercase;
	white-space: nowrap;
}

.staff__position {
	font-size: .8em;
	line-height: 1.5625;
	color: $harvest-gold;
}

.staff__desc {
	font-size: .8em;
	line-height: 1.5625;
}



/*------------------------------------*\
	RESERVATION
\*------------------------------------*/

.reservation {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 100px;
	color: $black;
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/reservation-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $white;
}

.reservation h2 { margin-top: 10px; }

.arrow--reservation { margin-top: 40px; }

.reservation p {
	margin-top: 40px;
	margin-right: 17.5%;
	margin-left: 17.5%;
	font-size: 15px;
	line-height: 1.625;
}

.button--reservation { margin-top: 45px; }



/*------------------------------------*\
	REVIEWS
\*------------------------------------*/

.reviews {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 83px;
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/reviews-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $black;
}

.reviews__quote {
	display: block;
	width: 18px;
	height: 16px;
	margin-right: auto;
	margin-left: auto;
}

.carousel-control-next,
.carousel-control-prev {
	width: 17.5%;
	opacity: 1;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
	opacity: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
	opacity: .7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	position: absolute;
	top: 5%;
	width: 7px;
	height: 11px;
}

.carousel-control-prev-icon { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-reviews.png") 0 0; }

.carousel-control-next-icon { background: url("http://www.jamesarc.com/work/steakville/assets/img/sprites-reviews.png") -7px 0; }

.carousel-indicators li {
	width: 5px;
	max-width: 5px;
	height: 5px;
	border: 1px solid $harvest-gold;
	margin-right: 13px;
	margin-right: 13px;
	background-color: transparent;
}

.carousel-indicators .active {
	background-color: $harvest-gold;
}

.carousel--reviews {
	padding-bottom: 65px;
	margin-top: 50px;
}

.review__item {
	margin-right: 17.5%;
	margin-left: 17.5%;
}

.review__desc {
	line-height: 1.5625;
}

.review__desc,
.review__position {
	font-size: .75em;
}

.review__name,
.review__position {
	display: block;
}

.review__name {
	margin-top: 45px;
	font-family: $sans-serif-font-stack;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.review__position {
	margin-top: 15px;
	color: $harvest-gold;
}



/*------------------------------------*\
	SUBSCRIBE
\*------------------------------------*/

.subscribe {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 96px;
	text-align: center;
	background: url("http://www.jamesarc.com/work/steakville/assets/img/subscribe-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $white;
}

.subscribe h2 {
	font-size: 18px;
	color: $black;
}

.arrow--subscribe,
.form--subscribe {
	margin-top: 45px;
}

.input--subscribe {
	width: 270px;
	height: 50px;
	padding-left: 20px;
	border: 1px solid $silver-chalice;
	font-family: $serif-font-stack;
	font-size: 15px;
	color: $masala;
	background-color: rgba(255,255,255,.5);
}

.submit--subscribe {
	margin-left: calc(26px - 4px);
	border: none;
}

.submit--subscribe:hover {
	cursor: pointer;
}



/*------------------------------------*\
	MEDIA QUERIES
\*------------------------------------*/

/* Extra large devices (large desktops) */
@media (max-width: 1599px) {
	body { font-size: 18px; }

	.container-fluid {
		padding-right: 10%;
		padding-left: 10%;
	}

	.about__box {
		right: 21%;
		width: 33%;
	}

	.about__wrapper {
		right: 10%;
		width: 44%;
		padding: 20px 40px 20px;
	}

	.about p {  margin-top: 20px; }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
	body { font-size: 16px; }

	h3 { font-size: 2.8125em; }

	h2 { font-size: 2.25em; }

	.nav,
	.button,
	.about p,
	.menu p,
	.menu__desc,
	.opening__hours span,
	.opening__hours p,
	.staff__position,
	.staff__desc,
	.reservation p,
	.review__desc,
	.review__position,
	.input--subscribe {
		font-size: .9375em;
	}

	.home h3 { font-size: 3.125em; }

	.home h2 { font-size: 4em; }

	.staff__name { font-size: 1em; }

	.about__image { width: 30%; }

	.about__box {
		right: 21.5%;
		width: 33.7%;
	}

	.about__wrapper { width: 45%; }

	.social__staff-group,
	.staff__desc {
		margin-top: 20px;
	}

	.menu p,
	.staff__name {
		margin-top: 40px;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group {
		margin-top: 60px;
	}

	.menu__desc { margin-top: 8px; }

	.opening .container-fluid {
		padding-right: 10%;
		padding-left: 10%;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	body { font-size: 15px; }

	.nav__item:nth-child(n+2) { margin-left: calc(30px - 4px); }

	.about,
	.reservation {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	.about__image {
		width: 25%;
		z-index: 1003;
	}

	.about img:first-of-type { margin-left: 8.33%; }

	.about__box {
		right: auto;
		left: 15%;
		width: 47%;
		height: 90%;
	}

	.about__wrapper {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		@include transform(translateY(0));
		display: block;
		width: 80%;
		height: auto;
		padding: 40px 60px 30px;
		margin-top: -20px;
		z-index: 1002;
	}

	.menu,
	.staff {
		padding-top: 70px;
		padding-bottom: calc(80px - 20px);
	}

	.menu__image {
		width: 50px;
		height: 50px;
	}

	.menu__caption {
		width: calc(100% - 50px);
		padding-right: calc(.16 * (100% - 50px) + 20px);
		padding-left: calc(20px - 4px);
	}

	.menu p,
	.opening__hours span:nth-of-type(n+2),
	.staff__name,
	.review__name {
		margin-top: 30px;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group {
		margin-top: 50px;
	}

	.opening {
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.opening__hours { padding: 20px; }

	.reviews,
	.subscribe {
		padding-top: 80px;
		padding-bottom: 70px;
	}

	.carousel--reviews {
		padding-bottom: 50px;
		margin-top: 50px;
	}

	.review__position { margin-top: 10px; }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	body { font-size: 14px; }

	.container-fluid {
		padding-right: 6.25%;
		padding-left: 6.25%;
	}

	.arrow {
		width: 50px;
		height: 7px;
	}

	.button {
		width: 140px;
		height: 40px;
		line-height: 40px;
	}

	.nav__item:nth-child(n+2) { margin-left: calc(40px - 4px); }

	.arrow--home,
	.button--home,
	.arrow--reservation,
	.button--reservation,
	.reservation p,
	.arrow--subscribe,
	.form--subscribe {
		margin-top: 30px;
	}

	.header__menu {
		top: 0;
		height: 60px;
	}

	.logo {
		width: 35px;
		height: 31px;
	}

	.home { height: 100vh; }

	.home__wrapper { top: calc(50% + (60px / 2)); }

	.about,
	.opening,
	.reservation {
		padding-top: 50px;
		padding-bottom: 60px;
	}

	.about__image { width: 30%; }

	.about__box {
		left: 11%;
		width: 62.5%;
	}

	.about__wrapper { width: 100%; }

	.menu,
	.staff {
		padding-top: 50px;
		padding-bottom: calc(60px - 20px);
	}

	.menu p,
	.opening__hours span:nth-of-type(n+2),
	.staff__name {
		margin-top: 20px;
	}

	.menu p {
		margin-right: 15%;
		margin-left: 15%;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group,
	.carousel--reviews {
		margin-top: 40px;
	}

	.menu__item { margin-bottom: 20px; }

	.menu__desc { margin-top: 5px; }

	.opening__image,
	.opening__hours {
		width: 100%;
	}

	.opening__image {
		height: 0;
		padding-top: 45.71%;
	}

	.staff__image { width: 75%; }

	.social__staff-group,
	.staff__desc {
		margin-top: 10px;
	}

	.reservation p {
		margin-right: 10%;
		margin-left: 10%;
	}

	.reviews,
	.subscribe {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.review__position { margin-top: 5px; }

	.input--subscribe {
		width: 200px;
		height: 40px;
		padding-left: 20px;
	}

	.submit--subscribe { margin-left: calc(20px - 4px); }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	body { font-size: 12px; }

	.home span,
	.button,
	.about p,
	.menu p,
	.menu__desc,
	.opening__hours span,
	.opening__hours p
	.staff__position,
	.staff__desc,
	.reservation p,
	.review__desc,
	.review__position,
	.input--subscribe {
		font-size: 12px;
	}
	.menu__name,
	.menu__price {
		font-size: 11px;
	}

	.nav__item:nth-child(n+2) { margin-left: calc(20px - 4px); }

	.home h2 {
		white-space: normal;
		overflow: visible;
	}

	.about__image { width: 35%; }

	.about img:first-of-type { margin-left: calc(15% - 15px); }

	.about__box {
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: calc(60% + 60px);
	}

	.about__wrapper {
		width: 100%;
		padding: 30px 40px 20px;
	}

	.opening__hours span:nth-of-type(n+2),
	.staff__name,
	.social__staff-group {
		margin-top: 10px;
	}

	.menu p,
	.reservation p {
		margin-right: 0;
		margin-left: 0;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group,
	.carousel--reviews {
		margin-top: 30px;
	}

	.opening__hours {
		padding-right: 10px;
		padding-left: 10px;
	}

	.staff__image { width: 40%; }

	.staff__desc {
		padding-right: 12.5%;
		padding-left: 12.5%;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		top: 10%;
	}

	.input--subscribe,
	.submit--subscribe {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.submit--subscribe { margin-top: 20px; }
}

@media (min-width: 1920px) {
	.container-fluid {
		padding-right: 20%;
		padding-left: 20%;
	}

	.about__box {
		right: 28%;
		width: 24.375%;
	}

	.about__wrapper {
		right: 20%;
		width: 32.5%;
	}
}