//- Daily UI #012 E-Commerce Shop(Single Item)

.product
	.product-photo
	.product-content
		.infos
			h3 FUJIFILM X-T10
			p The FUJIFILM X-T10 boasts outstanding image quality thanks to unique color reproduction technology, the model, aimed at photography enthusiasts, combines a compact and lightweight body with a new AF system that excels at capturing moving subjects, as well as an electronic Real Time Viewfinder, which boasts an impressive 0.62x*1 magnification ratio, high-definition precision 2.36 million dot display and the world's shortest time lag of 0.005 seconds*2.
		.price 23900 
		.actions
			.qty-box
				a(onclick="count(-1)").minus -
				a.qty 1
				a(onclick="count(1)").plus +
			.cart ADD TO CART
		

