.window
    .header
        .burger-container
            #burger
                .bar.topBar
                .bar.btmBar
     
        .icon.icon-apple
    
        ul.menu
            li.menu-item
                a(href="#") Mac

            li.menu-item
                a(href="#") iPad

            li.menu-item
                a(href="#") iPhone

            li.menu-item
                a(href="#") Watch

            li.menu-item
                a(href="#") TV

            li.menu-item
                a(href="#") Music
            
            li.menu-item
                a(href="#") Support
        
        .shop.icon.icon-bag
        
    .content  
        img(src="https://images.apple.com/v/ipad-air-2/c/images/overview/performance_large.png", alt="")
        h2 Thin. Light. Epic.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae ullam repellat, soluta, reprehenderit suscipit reiciendis minus ratione alias dolor eveniet rerum.
        
        img(src="https://images.apple.com/v/ipad-air-2/c/images/overview/design_large.png", alt="")
        
        p  Consectetur adipisicing elit. Est earum dicta officiis ratione qui non perspiciatis necessitatibus laborum culpa ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste explicabo laborum non vel, aperiam, nemo esse harum officiis, temporibus quae, delectus dolorem laboriosam eligendi exercitationem aliquam eveniet autem facilis? Iure pariatur iusto ipsum aut, accusantium rerum. Ipsum officiis voluptatibus assumenda placeat obcaecati. Voluptas explicabo optio repellendus minima sunt, ducimus suscipit, labore ratione eum officia molestias!
        
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quidem magnam aut corporis voluptate! Et similique iste, molestiae illo nemo adipisci molestias, iure accusantium, sit expedita fugiat aliquam dolore! Odit perferendis, earum quaerat inventore ut error placeat sunt dignissimos dicta.