/*reset*/
html,body,div,figure,img,header,ul,li,a{
	margin: 0;
	padding: 0;
	border: 0;
}
/*layout*/
.col-9{
	max-width: 900px;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
}
.col-3{
	max-width: 300px;
	width: 33.333333%;
	margin: auto;
	box-sizing: border-box;
}
/*items*/
.portfolio{
	padding-top: 2em;
	clear: both;
}
.menu{
	padding: .3em .3em;
}
.wrap{
	padding: .3em;
}
img{width: 100%;
	opacity: 1;
	transition: opacity .6s;}

figure{
	float: left;
	position: relative;
	line-height: 0;
	padding: .3em;
	cursor: pointer;
}
.img-wrap:before{
	content: '';
	position: absolute;
	top: .3em;
	left: .3em;
	right: .3em;
	bottom: .3em;
	background-color: rgba(255,255,255,.7);
	opacity: 0.5;
	transition: opacity 2s,
	background-color .4s; 
}
.img-wrap:hover:before{
	background-color: rgba(251,11,63,1);
	opacity: 0;

}

h1{color: #444;
	font-size: 44px;
	font-family: 'Open Sans Condensed', sans-serif;}
nav{
	margin-top: 45px;
}
nav ul li {
	display: inline;
}
nav ul li a{
	text-decoration: none;
	padding: .5em 1.5em.5em;
	color: #444;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: color .6s, background-color .2s;
}
nav ul li a:hover{
	background-color: #FB0B3F;
	color: #fff;
}
.active a{
	border: solid 1px #FB0B3F;
	color: #FB0B3F;
}

@media only screen and (min-width: 600px) {
	header{float: left}
	nav{float: right;
		text-align: right;}
}