.header
  h1 Magic Line Menu
  
.menu
  .menu-item.current-menu-item
    h6 Home
    .wee
  .menu-item
    h6 Short
  .menu-item
    h6 Longer Navigation
  .menu-item
    h6 Random
  .menu-item
    h6 Follow
    
.me
  a(href="https://github.com/cmdeveloped" target="_blank")
    <i class="fab fa-github"></i>
  a(href="https://twitter.com/collinscode_" target="_blank")
    <i class="fab fa-twitter"></i>
  a(href="https://codepen.io/collinscode" target="_blank")
    <i class="fab fa-codepen"></i>
  a(href="https://linkedin.com/in/cmdeveloped" target="_blank")
    <i class="fab fa-linkedin-in"></i>