body {
  text-align: center;
}

#select {
  background: none;
  border: none;
  font-size: 16px;
  margin: 2em 1em;
}

.video-container {
  max-width: 960px;
  margin: 0 auto;
  display: none;
}
.video-container:first-of-type {
  display: block;
}
