.header
  .title
    %h4 The Minimalist
.body
  .container
    .card
      .card-content
        .top-bar
          %span
            $12.95
          %span.float-right.lnr.lnr-heart
        .img
          %img{:src=>"https://tctechcrunch2011.files.wordpress.com/2014/11/solo2-wireless-red-quarter.jpg?w=738"}
        
      .card-description
        .title
          BEATS HEADPHONE
        .cart
          %span.lnr.lnr-cart
      .card-footer   
        .span
          RED
        .span
          BEATS
        .span
          HEADPHONE  
    .card
      .card-content
        .top-bar
          %span
            $1200.95
          %span.float-right.lnr.lnr-heart
        .img
          %img{:src=>"https://www.bell.ca/Styles/wireless/all_languages/all_regions/catalog_images/large/iPhoneX_spgry-en_lrg.png"}
        
      .card-description
        .title
          IPHONE X
        .cart
          %span.lnr.lnr-cart
      .card-footer   
        .span
          IPHONE
        .span
          PHONE
        .span
          MOBILE
    .card
      .card-content
        .top-bar
          %span
            $5.95
          %span.float-right.lnr.lnr-heart
        .img
          %img{:src=>"https://i.pinimg.com/736x/05/58/c7/0558c796ee706b5cb289ffb68e3b509c--is-the-best-to-the.jpg"}
        
      .card-description
        .title
          Black Shoes
        .cart
          %span.lnr.lnr-cart
      .card-footer   
        .span
          SHOES
        .span
          FORMAL
        .span
          LEATHER  
    .card
      .card-content
        .top-bar
          %span
            $44.55
          %span.float-right.lnr.lnr-heart
        .img
          %img{:src=>"https://www.grootgadgets.com/wp-content/uploads/2017/03/Canon-70-200mm-Lens-mug-White-replica-groot-gadgets-1-400x400.jpg"}
        
      .card-description
        .title
          Camera Lens
        .cart
          %span.lnr.lnr-cart
      .card-footer   
        .span
          CAMERA
        .span
          GADGET
        .span
          LENS  