html body {
  position: relative;
  background: #ece9e6 /* fallback for old browsers */;
  background: -webkit-linear-gradient(to right, #fff, #ece9e6) /* Chrome 10-25, Safari 5.1-6 */;
  background: linear-gradient(to right, #fff, #ece9e6) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #002b75;
}
html body .menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .menu .menu-item {
  position: relative;
  cursor: pointer;
}
html body .menu .menu-item .wee {
  height: 2px;
  width: 100%;
  background-color: #002b75;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.75s;
}
html body .menu .menu-item h6 {
  margin: 0;
  padding: 0 1rem 1.5rem;
  font-size: 1rem;
  color: #232323;
  transition: 0.75s;
}
html body .menu .menu-item:hover h6 {
  color: #002b75;
}
html body .menu .current-menu-item h6 {
  color: #002b75;
}
.me {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
.me a {
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.25rem;
  color: #232323;
  font-size: 1.5rem;
  transition: 0.75s;
}
.me a:hover {
  color: #002b75;
}
