body {
  background: #fff;
}

.metric {
  padding: 10%;
}

.metric svg {
  max-width: 100%;
}

.metric path {
  stroke-width: 75;
  stroke: #ecf0f1;
  fill: none;
}

.metric text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.metric.participation path.data-arc {
  stroke: #3498db;
}

.metric.participation text {
  fill: #3498db;
}

.metric.completion path.data-arc {
  stroke: #27ae60;
}

.metric.completion text {
  fill: #27ae60;
}

.metric.blocked path.data-arc {
  stroke: #e74c3c;
}

.metric.blocked text {
  fill: #e74c3c;
}