nav#top.nav
  a(class="scroll animate-reveal animate-first logo" data-speed='1000', href='#top')
    span.free Free
    span.code Code
    span.camp Camp
    span.icon Portfolio
  span
    a(class="scroll animate-reveal--2" data-speed='1000', href='#slack') Slack
    a(class="scroll animate-reveal--3" data-speed='1000', href='#circle') Circle
    a(class="scroll animate-reveal--4" data-speed='1000', href='#obama') Obama
    a(class="scroll animate-reveal--5" data-speed='1000', href='#offset') Offset
    a(class="scroll animate-reveal--6" data-speed='1000', href='#donut') Donut
    a(class="scroll animate-reveal--7" data-speed='1000', href='#rectriazoid') Rectriazoid

.wrapper
  .content
    h2#slack.content__section-head CSS SLACK
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='Ejpeyo', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/Ejpeyo/') CSS SLACK plaid
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p Slack is aweseome! CSS repeating gradiets are rad also. This was a fun project to learn how repeating gradients work. 

    h2#circle.content__section-head Circle
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='qOKabb', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/qOKabb/') Circle
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p Ana Tudor's work on CodePen is amazing! I came up with this after dissecting some code in one of her pens. I learned how to draw lines that radiate from an inner circle. There's a world of CSS gold in a babydino pen!

    h2#obama.content__section-head Obama
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='NqNoMp', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/NqNoMp/') Obama
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p I've just about stopped uning Adobe Illustrator altogether. It's been fun to make everything with HTML and CSS only.


    h2#offset.content__section-head Offset button
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='ogpNpa', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/ogpNpa/') Offset button - layered
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p Just a fun button.

    h2#donut.content__section-head CSSprinkle Donut
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='waWgqP', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/waWgqP/') CSSprinkle Donut
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p CSS Donuts are yummy. 

    h2#rectriazoid.content__section-head Rectriazoid Pattern
    p.codepen(data-height='500', data-theme-id='9915', data-slug-hash='YyRwpb', data-default-tab='result', data-user='brownerd')
      | See the Pen 
      a(href='https://codepen.io/brownerd/pen/YyRwpb/') #codevember 10: Rectriazoid Pattern
      |  by BROWNERD (
      a(href='https://codepen.io/brownerd') @brownerd
      | ) on 
      a(href='https://codepen.io') CodePen
      | .
    script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    p It's fun trying to recreate geometirc patterns with css. 

div(class="full")
  a(class="button" href='https://codepen.io/brownerd/' target='_blank') CodePen
  a(class="button" href='https://dribbble.com/brownerd' target='_blank') Dribbble
  a(class="button" href='https://twitter.com/brownerds' target='_blank') Twitter
  a(class="button" href='https://500px.com/benjamingandhi-shepard' target='_blank') 500px
  a(class="scroll button" data-speed='1000', href='#top') Back to the top