@import 'https://fonts.googleapis.com/css?family=Montserrat';
.elipse:hover elipse::after {
  color: white;
}

/*---Resets--- */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*---End Resets--- */
/*---Color Variables--- */
/*--End Color Variables--- */
.container {
  background: #232526;
  background: linear-gradient(to left, #232526, #414345);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*   Holder for the Content   */
.box {
  width: 1500px;
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*   Side Menu Bar   */
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  width: 200px;
  height: 100%;
  background-color: #B22969;
  box-shadow: 15px 0 30px 8px rgba(0, 0, 0, 0.15);
}

/*   Holder for Logo   */
.logo-box {
  position: relative;
  width: 200px;
  height: 160px;
  background-color: #581A51;
}

/*   Menu Buttons   */
.menu-list li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 26px 0px;
  list-style: none;
  color: white;
  transition: all ease-in-out 150ms;
  width: 200px;
  background-color: #581A51;
  z-index: 4;
  /*   Background for each menu   */
  /*   Margin to push menus to the right   */
}
.menu-list li:nth-child(1) {
  background-color: #6A2761;
}
.menu-list li:nth-child(2) {
  background-color: #802767;
}
.menu-list li:nth-child(3) {
  background-color: #8A2864;
}
.menu-list li:nth-child(4) {
  background-color: #A52868;
}
.menu-list li:nth-child(5) {
  background-color: #B32969;
}
.menu-list li:nth-child(6) {
  background-color: #C22A6A;
}
.menu-list li:nth-child(7) {
  background-color: #CB2E6C;
}
.menu-list li:hover {
  box-shadow: 2px 4px 30px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 220px;
  position: relative;
  z-index: 5;
  /*   Add 8 px on hover to margin to keep up with animation   */
}
.menu-list li:hover a {
  margin-left: 88px;
}
.menu-list li a {
  margin-left: 80px;
  transition: all ease-in-out 150ms;
}

/*    Gender Simbol and weight info on the bottom   */
.big-man-bottom {
  color: rgba(88, 26, 81, 0.6);
  font-size: 66.7px;
  text-align: center;
  font-stretch: expanded;
  margin-top: 60px;
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

.weight {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
}
.weight span:nth-child(1), .weight span:nth-child(2) {
  margin-bottom: 40px;
  font-size: 18px;
}
.weight span:nth-child(1) {
  color: white;
  font-size: 18px;
}
.weight span:nth-child(2) {
  margin-left: 5px;
  color: rgba(88, 26, 81, 0.7);
}

.content {
  /*   Background Gradient with Fallbacks   */
  background: #ff0084;
  background: linear-gradient(to right top, #B22969, #391134);
  /*   End of background gradients   */
  height: 790px;
  display: flex;
  /*   Holder for the info at the bottom   */
}

.bot-info {
  display: flex;
  position: relative;
  background-color: yellow;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  width: 1300px;
  height: 100%;
  flex: 1;
  z-index: 2;
  box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);
  background-color: #B22969;
  align-items: center;
  justify-content: space-between;
}

.white-text {
  color: white;
  display: block;
}

.lower-text {
  color: rgba(88, 26, 81, 0.7);
}

/*   Margins to push information to the inside   */
.your-week-target {
  margin-left: 50px;
}

.active-time {
  margin-right: 30px;
}

.divider {
  height: 30px;
  width: 1px;
  background-color: grey;
}

/*  Start of the Calendar Styles   */
.calendar {
  width: 600px;
  height: 790px;
  margin-left: 100px;
  margin-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.semana {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 1px;
}

.week {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.week:last-child {
  margin-bottom: 80px;
}
.week a {
  display: flex;
  width: 18px;
  height: 18px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.week a.faded-number::after {
  color: rgba(255, 255, 255, 0.4);
}
.week a:hover::before {
  background-color: rgba(255, 255, 0, 0.2);
}
.week a.active::before {
  background-color: #FFAB18;
}
.week a.active::after {
  color: #581A51;
}
.week a::before {
  content: "";
  padding: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background ease-in-out 150ms;
}
.week a::after {
  content: attr(data-date);
  color: white;
  position: absolute;
  cursor: pointer;
}

.mes {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.mes a {
  padding: 10px;
  font-size: 60px;
  font-weight: light;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.mes a:hover {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  color: rgba(255, 255, 255, 0.8);
}

.graphs {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
}

.great-work span {
  display: block;
  color: rgba(212, 54, 114, 0.1);
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.great-work span:first-child {
  margin-top: 20px;
}

.circle-wrapper {
  margin-top: 30px;
  width: 310px;
  height: 310px;
  background-color: rgba(212, 54, 114, 0.1);
  border-radius: 50%;
}

svg {
  width: 320px;
  height: 320px;
}
svg text {
  fill: white;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
svg circle {
  position: relative;
  fill: none;
  stroke-width: 22px;
}
svg circle:nth-child(2) {
  stroke: rgba(212, 54, 114, 0.1);
}
svg circle:nth-child(3) {
  stroke: url(#grad1);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 753.98px;
  stroke-dashoffset: 753.98px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: all 900ms cubic-bezier(0.77, 0.04, 0.16, 0.99);
}

.bottom-graph {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.bar {
  width: 100%;
  background-color: rgba(212, 54, 114, 0.07);
  margin: 0 10px;
  transition: all ease-in-out 900ms;
}
.bar:nth-child(2) {
  margin-top: 10%;
}
.bar:nth-child(3) {
  margin-top: 6%;
}
.bar:nth-child(4) {
  margin-top: 12%;
}
.bar:nth-child(5) {
  margin-top: 4%;
}
.bar:nth-child(6) {
  margin-top: 0%;
}
.bar:nth-child(7) {
  margin-top: 4%;
}
.bar:nth-child(8) {
  margin-top: 12%;
}
.bar.start {
  margin-top: 50%;
}
.bar.scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: rgba(212, 54, 114, 0.3);
}
.bar:hover {
  background-color: orangered;
}
