.scene {
  height: 100%;
  position: relative;
}

.cart-container {
  width: 900px;
  margin: 5em auto;
  margin-top: 7em;
}

#cart {
  width: 150px;
  display: inline-block;
}

.product {
  width: 60px;
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: scale(2);
}

#image {
  width: 300px;
  margin: 1em auto;
  position: relative;
  top: -20px;
}
#image img {
  width: 100%;
}
