%nav.menu
  %input#menu-toggler.menu-toggler{:type => "checkbox", :checked => "checked"}
  %label{:for => "menu-toggler"}
  %ul
    %li.menu-item
      %a.fa.fa-facebook{:href => "https://www.facebook.com/", :target => "_blank"}
    %li.menu-item
      %a.fa.fa-google{:href => "https://www.google.com/", :target => "_blank"}
    %li.menu-item
      %a.fa.fa-dribbble{:href => "https://dribbble.com/", :target => "_blank"}
    %li.menu-item
      %a.fa.fa-codepen{:href => "https://codepen.io/", :target => "_blank"}
    %li.menu-item
      %a.fa.fa-linkedin{:href => "https://www.linkedin.com/", :target => "_blank"}
    %li.menu-item
      %a.fa.fa-github{:href => "https://github.com/", :target => "_blank"}
      