.container
  .box
    .menu
      .logo-box
      .menu-list
        ul
          li 
            a Steps
          li 
            a Running
          li 
            a Biking
          li 
            a Swimming
          li 
            a Cardio
          li 
            a Fitness
          li 
              a Nutrition
      span.big-man-bottom.fa.fa-male
      .weight
        span 79
        span Weight
    .content
        .calendar
         .mes
            a.fa.fa-angle-left
            span August 2016
            a.fa.fa-angle-right
          
         .semana
            span Sun
            span Mon
            span Tue
            span Wed
            span Thu
            span Fri
            span Sat
            
         .week
            a.faded-number(data-date='31') 
            a.active(data-date='1') 
            a(data-date='2') 
            a(data-date='3') 
            a(data-date='4') 
            a(data-date='5') 
            a(data-date='6') 
         .week
            a(data-date='7') 
            a(data-date='8') 
            a(data-date='9') 
            a(data-date='10') 
            a(data-date='11') 
            a(data-date='12') 
            a(data-date='13') 
         .week
            a(data-date='14') 
            a(data-date='15') 
            a(data-date='16') 
            a(data-date='17') 
            a(data-date='18') 
            a(data-date='19') 
            a(data-date='20') 
         .week
            a(data-date='21') 
            a(data-date='22') 
            a(data-date='23') 
            a(data-date='24') 
            a(data-date='25') 
            a(data-date='26')
            a(data-date='27') 
         .week
            a(data-date='28') 
            a(data-date='29') 
            a(data-date='30') 
            a(data-date='31') 
            a.faded-number(data-date='1')
            a.faded-number(data-date='2')
            a.faded-number(data-date='3')
         .week
            a.faded-number(data-date='4')
            a.faded-number(data-date='5')
            a.faded-number(data-date='6')
            a.faded-number(data-date='7')
            a.faded-number(data-date='8')
            a.faded-number(data-date='9')
            a.faded-number(data-date='10') 
          
        .graphs
          .great-work
           span GREAT WORK. YOU
           span REACHED YOUR GOAL
          .circle-wrapper
           svg#progress(percent='0' viewport='0 0 300 300')
             defs
              lineargradient#grad1(x1='0%', y1='0%', x2='100%', y2='0%')
                stop(offset='0%', style='stop-color:#D43672;stop-opacity:1')
                stop(offset='100%', style='stop-color:#F4A721;stop-opacity:1') 
             circle(cx='155' cy='155' r='120')
             circle(cx='155' cy='155' r='120')
             text(x='50%', y='50%', text-anchor='middle') 85% 
          .bottom-graph
           .bar.scale
             span 500
             span 400
             span 300
             span 200
             span 100
             span.push 0
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
           .bar.a.start
             .inside-bar
         
 
     
    .bot-info
       .your-week-target
         span.white-text 8000 KCal
         span.lower-text Your Week Target
         
       .divider
       
       .week-target
         span.white-text 85 Km
         span.lower-text Week Target
         
       .divider
         
       .heart-rate
         span.white-text 130 Bpm
         span.lower-text Heart Rate
         
       .divider
       
       .calories
         span.white-text 480 KCal
         span.lower-text Calories
         
       .divider
       
       .distance
         span.white-text 6,34 Km
         span.lower-text Distance
         
       .divider
       
       .active-time
         span.white-text 32:18:42
         span.lower-text Active Time
       