html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  text-align: center;
  color: #f5f5f5;
  overflow-x: hidden;
}

hr {
  margin-bottom: 3em;
  width: 7%;
  transition: all ease-in-out 0.3s;
}

h1, h3 {
  color: #333;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}

.section {
  display: block;
  overflow: hidden;
  padding: 0;
}

.section-grey {
  background: #f5f5f5 !important;
  padding: 50px 0;
}

.section__title {
  font-size: 24px;
  color: #3b3b58;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 14px 0;
}

.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.hero {
  background: url("https://images.unsplash.com/photo-1455894127589-22f75500213a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=944&q=80") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.shape-layer {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.shape {
  overflow: hidden;
  position: absolute;
  height: auto;
}

.shape path {
  fill: none;
}

.shape-1 {
  width: 122px;
  top: 15%;
  left: 65%;
}

.shape-2 {
  width: 106px;
  bottom: 15%;
  left: 30%;
}

.shape-3 {
  width: 136px;
  top: 20%;
  left: 70%;
}

.shape-4 {
  width: 79px;
  top: 50%;
  left: 10%;
}

.shape-5 {
  width: 49px;
  top: 30%;
  right: 75%;
}

.shape-6 {
  width: 78px;
  top: 5%;
  left: 75%;
}

.shape-7 {
  width: 57px;
  bottom: 15%;
  right: 20%;
}

.shape-8 {
  width: 71px;
  bottom: 15%;
  right: 40%;
}

.shape-9 {
  width: 59px;
  top: 25%;
  left: 40%;
}

.col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.inner-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
}
@media only screen and (min-width: 320px) {
  .inner-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 400px) {
  .inner-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 680px) {
  .inner-text {
    font-size: 75px;
  }
}
@media only screen and (min-width: 950px) {
  .inner-text {
    font-size: 100px;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}
@media only screen and (max-width: 465px) {
  .p1 {
    position: relative;
    top: 0.6em;
  }
}

.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #4FC3F7;
}
@media only screen and (max-width: 465px) {
  .p2 {
    position: relative;
    top: 0.6em;
  }
}

.p3 {
  display: block;
  font-size: 0.4em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #4FC3F7;
}
@media only screen and (max-width: 465px) {
  .p3 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    top: 0.6em;
  }
}

.hero-down {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
}
.hero-down:hover, .hero-down:focus {
  color: #ccc;
}
.hero-down:active {
  color: #f5f5f5;
}
.hero-down .btn-react {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
}
.hero-down i {
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.section--cta {
  color: #454545;
  background: #f1f1f1;
}

.box {
  display: flex;
  flex: 1 0 100%;
  margin-bottom: 20px;
  background: #f9f9f9;
}

.box__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box__title {
  font-family: "Montserrat", sans-serif;
}

.box__more {
  color: #ff4e5c;
}

.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}

.box__content > i {
  color: #3b3b58;
}

.box__content:hover .box__more {
  color: #ff3545;
}

.box__content:hover .box__more i {
  padding-left: 4px;
  transition: all .2s ease-in-out;
}

.name-hero {
  background: rgba(0, 0, 0, 0.001);
  bottom: 0;
  height: 290px;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 85%;
}

.me-img {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/490306/profile/profile-512_1.jpg) no-repeat center center;
  background-size: 100%;
  background-position: 0px;
  border-radius: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
}

.name-hero h1 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.name-hero h1 em {
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 700;
}

.name-hero p {
  color: rgba(0, 0, 0, 0.5);
  font-size: .75em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}

.name-hero .name-text {
  margin: 0 auto;
  width: 85%;
}

.inner {
  margin: 0 auto;
  max-width: 975px;
  padding: 3em;
}

.inner h1 {
  font-size: 1.75em;
}

.inner p {
  color: rgba(0, 0, 0, 0.3);
}

.inner p em {
  color: rgba(0, 0, 0, 0.75);
  font-style: normal;
}

.inner section {
  margin: 100px auto;
}

@media only screen and (min-width: 43.75em) {
  .box {
    flex: 0 0 30%;
  }
}
.section-paragraph {
  color: #555;
  text-align: left;
}

.section-white {
  background: white;
  padding: 50px 0;
}

.white {
  color: #fff;
}

.background-img {
  background: url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=850&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 50px;
}

.no-padding {
  padding: 0 !important;
}

.box2 {
  display: block;
  height: 200px;
  position: relative;
  text-align: center;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.box2:hover .box-content {
  margin-top: -2em;
}

.box2 .box-content {
  height: 100%;
  position: relative;
  top: 50%;
  margin-top: -1em;
  text-transform: uppercase;
  transition: all 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
}

.projects {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1455894127589-22f75500213a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=944&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.diy {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1416339212457-ef9ffadc2903?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=1707&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.mijn-werk {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1414690165279-49ab0a9a7e66?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=853&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.contact {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1421757350652-9f65a35effc7?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=850&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.projects:hover, .contact:hover, .diy:hover, .mijn-werk:hover {
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
}

.box2:hover hr {
  width: 15%;
  transition: all ease-in-out 0.3s;
}

.spacing {
  margin-bottom: 60px;
}

.icon-row {
  margin: 0px auto;
  width: 100%;
}

.icon-row i {
  border-radius: 3px;
  cursor: pointer;
  font-size: 44px;
  margin: 0px 20px;
  padding: 20px 30px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}
@media only screen and (max-width: 465px) {
  .icon-row i {
    padding: 10px 10px;
    margin: 20px 10px;
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 465px) {
  .fa {
    font-size: 0.8em;
  }
}

.icon-row i:hover {
  background: #FFF;
}

.fa-google-plus:hover {
  color: #dd4b39;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-chevron-up {
  color: #fff;
}

a.button {
  display: inline-block;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background 0.2s ease-out;
}

a.button:hover {
  background-color: #555;
}

a.button.small {
  background-color: #7f8c8d;
  padding: 8px;
  font-size: 0.8em;
}

a.button.small:hover {
  background-color: #95a5a6;
}

/*Skill*/
#techList {
  display: none;
  position: relative;
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-transform: uppercase;
  color: #666;
}

#techList li {
  position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform: scale(6.7, 7.8) translate(1.18em, 0.68em);
  -moz-transform: scale(7.5, 7.8) translate(1.18em, 0.68em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
  -webkit-transform: scale(1.3) rotate(90deg) translate(3.88em, -14.2em);
  -moz-transform: scale(1.4) rotate(90deg) translate(3.88em, -13.2em);
}

.accessibility {
  letter-spacing: -.05em;
  font-weight: 300;
  -webkit-transform: scale(1.3, 1.33) rotate(90deg) translate(3.38em, -19.7em);
  -moz-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform: scale(2) translate(2.12em, 5.14em);
  -moz-transform: scale(2) translate(2.12em, 5.14em);
}

.usability {
  font-weight: 500;
  letter-spacing: -.04em;
  -webkit-transform: scale(2.1, 2.4) translate(10.5em, 4.3em);
  -moz-transform: scale(2.85, 3) translate(7.14em, 3.55em);
}

.ajax {
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-transform: scale(3.5, 3.8) rotate(90deg) translate(1.9em, -8.6em);
  -moz-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
}

.css3 {
  letter-spacing: .01em;
  font-weight: 700;
  -webkit-transform: scale(6, 6.75) rotate(90deg) translate(1.12em, -5.74em);
  -moz-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
  -webkit-transform: scale(4.08, 4.28) translate(5.42em, 3.25em);
  -moz-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform: scale(1.85, 1.9) translate(1.65em, 6.5em);
  -moz-transform: scale(1.85, 1.9) translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform: scale(2.75, 3) translate(1.54em, 4.95em);
  -moz-transform: scale(2.75, 3) translate(1.72em, 4.95em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform: scale(3.5, 4) translate(6.8em, 0.95em);
  -moz-transform: scale(3.9, 4) translate(6.05em, 0.95em);
}

.crossbrowser {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  -webkit-transform: scale(1.5) translate(1.34em, 11.58em);
  -moz-transform: scale(2) translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform: scale(2) translate(12.7em, 8.6em);
  -moz-transform: scale(2) translate(12.7em, 8.6em);
}

.jg {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: scale(3.3) translate(7.3em, 2.15em);
  -moz-transform: scale(3.4) translate(7.03em, 2.15em);
}

.skills {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: scale(1.8) translate(8.95em, 9.55em);
  -moz-transform: scale(1.8) translate(9.95em, 9.55em);
}

/*Footer*/
.footer {
  display: block;
  box-size: border-box;
  -webkit-box-size: border-box;
  padding: 40px 40px;
  color: #555;
  text-align: center;
  background: #f5f5f5;
}

.footer p {
  opacity: .65;
}
