@import url("https://fonts.googleapis.com/css?family=Amatic\+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900,400italic");
* {
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
}
body > * ~ * {
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 3rem;
}
a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}
a:hover {
  background-color: #fff;
  color: #609;
}
.nav {
  background-color: #609;
  box-shadow: 0 0 30px #203;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}
a.button {
  color: #609;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s;
}
a.button:hover {
  background-color: #609;
  color: #fff;
}
a.logo {
  background-color: #609;
  font-family: titillium web;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  transition: all 0.1s;
}
a.logo:hover .free,
a.logo:hover .code,
a.logo:hover .camp,
a.logo:hover .icon {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.free,
.code,
.camp,
.icon {
  background-color: #609;
  color: #fff;
  display: inline-block;
  transition: all 0.33s cubic-bezier(0.91, -0.44, 0.12, 1.51);
}
.code {
  -webkit-transform: translateX(-66%);
          transform: translateX(-66%);
}
.camp {
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
}
.icon {
  background-color: #609;
  color: #fff;
  font-weight: 200;
  padding-left: 5px;
  -webkit-transform: translateX(-136%);
          transform: translateX(-136%);
}
[class*='__headline'] {
  color: #fff;
  font-size: 15vw;
  font-weight: 200;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 0 rgba(75,0,130,0.5);
}
.wrapper {
  background-color: #fff;
  padding: 1.5rem 0;
}
.content {
  padding: 0 10vw;
}
[class*='__section-head'] {
  color: #609;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  padding: 6rem 0 1.5rem 0;
  text-align: center;
}
.call-to-action {
  box-shadow: 0 -1px 0 #ccc;
  margin-bottom: 0;
  text-align: center;
  padding: 3rem 0;
}
[class*=--cta] {
  background-color: #ff0;
  border-style: solid;
  border-width: 0px;
  color: #660;
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 3rem;
  position: relative;
  transition: background-color 300ms ease-out;
  -webkit-animation: wiggle 2s linear infinite;
          animation: wiggle 2s linear infinite;
}
[class*=--cta]::before {
  content: '';
  position: absolute;
  border: 4px solid #ff0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}
[class*=--cta]:hover {
  background-color: #660;
  color: #ff0;
}
[class*=--cta]:hover::before {
  border: 5px solid #660;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.full {
  background-blend-mode: overlay;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
body {
  background-image: url("https://drscdn.500px.org/photo/127805781/q%3D80_m%3D2000/23a13ef18d5c66f1a5e929f1fdc641ae"), linear-gradient(45deg, #0fc, #ee82ee);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
}
[class*=animate-reveal] {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}
[class*=--1] {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
[class*=--2] {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
[class*=--3] {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
[class*=--4] {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
[class*=--5] {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
[class*=--6] {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
[class*=--7] {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
